.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__menu{
    display: flex;
    justify-self: center;
    padding: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.header__menu-list{
    display: flex;
    gap: 32px;
    list-style-type: circle;
    padding-right: 7px;
    justify-self:flex-start
    

}

.header__menu-item{
    text-decoration: none;
   
}

.header__menu-item_no-bullit{
    list-style: none;

}

.header__menu-item_no-bullit{
    text-decoration: none;
    
}

.header_link{
    white-space: nowrap;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 4px;
    

}

.header_link-active{
    text-decoration: none;

}

.header__logo {
    display: block;
    width: auto;

}

.header__logo-image{
    width: auto;
    min-height: 105px;
}

.address{
    list-style-type: none;
    line-height: 1.5;
    font-style: normal;  
    font-weight: 400;
    font-size: 18px;    
    max-width: 240px;
    display: flex;
    justify-self: end;
    flex-direction: column;
    align-items: flex-start;
    text-underline-offset: 5px;
}



.cover{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 50px 1fr 50px;
    position: relative;
    background-repeat: no-repeat;
    padding: 0;
    margin-top: 0;
    width: auto;
    min-height: 757px;
    background-image: url(/images/cover.jpg) ;
} 

.overlay{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;

}

.cover_title{ 
    
    color: #fff;
    font-family: 'Raleway', sans-serif;
    line-height: 115px;
    letter-spacing: 30px;
    font-weight: 700;
    font-size: 100px;
    z-index: 2;
}

.algnet-text{
    
    margin: 0;
    display: block;
    box-sizing: border-box;
    width: 1000px;
    height: 365px;
    padding: 165px 50px 207px;
    text-transform:uppercase

}

.algnet-text_left{
    margin-bottom: 21px;
    display: block;
    text-align: left;
    letter-spacing: 30px;

}

.algnet-text_center{
    margin-bottom: 21px;
    display: block;
    text-align: center;
    padding-left: 120px;
    letter-spacing: 30px;

}

.algnet-text_right{
    
    display: block;
    text-align: right;
    padding-left: 615px;
    letter-spacing: 30px;
}

.description{
    display: flex; 
    align-items: baseline;     
    justify-content: flex-start;
    padding: 656px 0 0;
    gap: 110px;
    z-index: 2;
}
.description-text{ 
    word-spacing: 18px;
    line-height: 28px;
    text-transform: uppercase; 
    font-weight: 400;
    font-size: 22px; 
    color: #fff;

}

.description-botton{
    background: transparent;
    border: 1px solid #fff;
    width: 256px;
    height: 51px;
    text-transform: uppercase;
    font-style: normal;  
    font-weight: 400;
    font-size: 22px; 
    color: #fff;
    text-align: center;
}

.title_lots {
    padding-top: 179px;
    padding-bottom: 26px;
    padding-left: 64px;
    color: #000;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.container_lots {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 25px;
    justify-content: flex-start; 
    padding: 0; 
    margin: 0 auto;
    margin-left: 20px; 
}

.card_lots {
    max-width: 334px;
    min-height: 596px;
    flex-grow: 1;
}

.card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    padding: 51px 40px 48px;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card_about_cinema {
    background-image: url(./../images/card-lot-01.jpg);
}

.card_about_book {
    background-image: url(./../images/card-lot-02.jpg);
}

.card_about_picture {
    background-image: url(./../images/card-lot-03.jpg);
}

.card_title {
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-underline-offset: 4px;
    text-decoration-line: underline; 
    text-transform: uppercase;
    z-index: 2;
}

.text_on_card {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    z-index: 2;
}

.view_more {
    display: block;
    text-underline-offset: 3px;
    padding-top: 30px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
    margin-left: 64px;
}

.about {
    padding: 120px 0px 0px;
   
}

.about_container {
    display: grid;
    grid-template-columns: 334px repeat(1, 1fr);
    gap: 25px;
    padding: 34px 24px 0px;
}

.about_logo {
    justify-self: center;
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_logo_image {
    width: 148px;
    height: 114px;
}

.about_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 312;
    gap: 24px;
    padding-top: 100px;
}

.title_about {
    color: black;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
}

.about_text {
    align-self: flex-start;
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.text_up {
    padding-top: 76px;
} 

.text_down {
    padding-top: 25px;
}

.footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 180px 50px 88px;
    gap: 140px;
    align-items: flex-start;
}

.footer_address {
    font-style: normal;
    padding-left: 0px; 
}

.footer_menu {
    padding-left: 35px;
}

.footer_menu_links {
    list-style-type: none;
    text-underline-offset: 3px;
}

.footer_links {
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.footer_main {
    text-decoration: none;
}

.images_footer {
    width: 48px;
    height: 48px;
}

.footer_images {
    display: flex;
    gap: 48px;
}
