.header{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 92px 50px 96px;
    gap: 40px;
    margin-bottom: 0;

}

.header__menu{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.header__menu-list{
    display:flex;
    gap:20px;
    list-style: circle;
    justify-self: center;
    margin-bottom: 4px;
    margin-left: 20px;

}

.header__menu-item{
    text-decoration: underline;
   
}

.header__menu-item_no-bullit{
    list-style: none;

}

.header__menu-item_no-bullit{
    text-decoration: none;
    
}

.header_link{
    text-decoration: none;
    

}

.header_link-active{
    text-decoration: none;

}

.header__logo {
    display: block;
    width: 148px;

}

.header__logo-image{
    width: 100%;
}

.address{
    line-height: 1.5;
    font-style: normal;  
    font-weight: 400;
    font-size: 18px;    
    max-width: 240px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-underline-offset: 4px;
}



/*.cover{
    width: auto;
    min-height: 757px;
    background-image: url(/images/cover.jpg) ;
}    
.lots{
    width: 1052px;
    min-height: 723px;
    background-color: aliceblue;
    margin: 180px auto 0;
    
}
.about{
    width: 1052px;
    min-height: 595px;
    background-color: aliceblue;
    margin: 120px auto 0;
}
.footer{
    width: auto;
    height: 180px;
    
}