.header{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 92px 50px 96px;
    gap: 40px;
    margin-bottom: 0;

}

.header__menu{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.header__menu-list{
    display:flex;
    gap:45px;
    list-style: circle;
    justify-self: center;
    margin-bottom: 4px;
    margin-left: 20px;

}

.header__menu-item{
    text-decoration: none;
   
}

.header__menu-item_no-bullit{
    list-style: none;

}

.header__menu-item_no-bullit{
    text-decoration: none;
    
}

.header_link{
    white-space: nowrap;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 4px;
    

}

.header_link-active{
    text-decoration: none;

}

.header__logo {
    display: block;
    width: 148px;

}

.header__logo-image{
    width: 100%;
}

.address{
    line-height: 1.5;
    font-style: normal;  
    font-weight: 400;
    font-size: 18px;    
    max-width: 240px;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-underline-offset: 4px;
}



.cover{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 50px 1fr 50px;
    position: relative;
    padding: 0;
    margin-top: 0;
    width: auto;
    min-height: 757px;
    background-image: url(/images/cover.jpg) ;
} 

.overlay{
    opacity: 60%;
    background-color:#000;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.cover_title{ 
    
    color: #fff;
    font-family: 'Raleway', sans-serif;
    line-height: 115px;
    letter-spacing: 30px;
    font-weight: 700;
    font-size: 100px;
    z-index: 2;
}

.algnet-text{
    
    margin: 0;
    display: block;
    box-sizing: border-box;
    width: 1000px;
    height: 365px;
    padding: 165px 50px 207px;
    text-transform:uppercase

}

.algnet-text_left{
    margin-bottom: 21px;
    display: block;
    text-align: left;
    letter-spacing: 30px;

}

.algnet-text_center{
    margin-bottom: 21px;
    display: block;
    text-align: center;
    padding-left: 120px;
    letter-spacing: 30px;

}

.algnet-text_right{
    
    display: block;
    text-align: right;
    padding-left: 615px;
    letter-spacing: 30px;
}
    /*   
.lots{
    width: 1052px;
    min-height: 723px;
    background-color: aliceblue;
    margin: 180px auto 0;
    
}
.about{
    width: 1052px;
    min-height: 595px;
    background-color: aliceblue;
    margin: 120px auto 0;
}
.footer{
    width: auto;
    height: 180px;
    
}